<div class="page">
    <mat-card>
        <mat-card-subtitle><h2>Профиль</h2></mat-card-subtitle>
        <mat-divider inset></mat-divider>
        <mat-card-content>
            <mat-grid-list [cols]="15" [rowHeight]="40">
                <mat-grid-tile [colspan]="7">Имя пользователя: 123</mat-grid-tile>
                <mat-grid-tile [colspan]="7">Мастер-пароль: 123</mat-grid-tile>
                <mat-grid-tile [colspan]="1"><button mat-icon-button color="accent"><mat-icon>logout</mat-icon></button></mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-subtitle><h2>Мои пароли</h2></mat-card-subtitle>
        <mat-divider inset></mat-divider>
        <mat-card-content>
            <mat-grid-list [cols]="16" [rowHeight]="40">
                <mat-grid-tile [colspan]="7"><h2>Название</h2></mat-grid-tile>
                <mat-grid-tile [colspan]="7"><h2>Пароль</h2></mat-grid-tile>
                <mat-grid-tile [colspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="1"></mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list [cols]="16" [rowHeight]="40">
                <mat-grid-tile [colspan]="7">Мой первый пароль</mat-grid-tile>
                <mat-grid-tile [colspan]="7">Qwerty123</mat-grid-tile>
                <mat-grid-tile [colspan]="1"><button mat-icon-button color="accent"><mat-icon>visibility_off</mat-icon></button></mat-grid-tile>
                <mat-grid-tile [colspan]="1"><button mat-icon-button color="accent"><mat-icon>share</mat-icon></button></mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>