<div class="page">
    <h1>Регистрация</h1>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password">
    </mat-form-field>
    <button mat-flat-button color="accent" type="button">Регистрация</button>
    <button mat-stroked-button color="accent" type="button">Уже есть аккаунт?</button>
</div>
