<div class="page">
    <h1>Регистрация</h1>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" #_username>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" #_password1>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Repeat password</mat-label>
      <input matInput placeholder="Password" #_password2>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Info</mat-label>
      <input matInput placeholder="Information" #_info>
    </mat-form-field>
    <button mat-flat-button color="primary" type="button" (click)="register(_username.value, _password1.value, _password2.value, _info.value)">Регистрация</button>
    <button mat-stroked-button color="primary" type="button" [routerLink]="'/login'">Уже есть аккаунт?</button>
</div>
