.App {
  text-align: center;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:rgb(18,32,45);
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color:#9ec4d4;


}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{

  background-color:#263a56;
  border: none;
  color: #b5c8cc;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;

  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(76,121,144,0.2), 0 6px 20px 0 rgba(76,121,144,0.19);
}

.reg{
  display: flex;
  background-color:#3d7a8d;
  border: none;
  color: #b5c8cc;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(76,121,144,0.2), 0 6px 20px 0 rgba(76,121,144,0.19);
}

#upload_label
{
  display: flex;
  background-color: #3d7a8d;
  border: none;
  color: #b5c8cc;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: auto;
  width: 290px;
  margin-left: 4px;
  margin-top: 4px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pic_place
{
  height: 250px;
  width: 250px;
  margin: 10px 10px 10px 10px;
}

INPUT[type="text"], textarea
{
  background-color: #1e3145;;
  color:#9ec4d4;
  padding: 10px;
  margin: 10px;
  width: 60%;
  height:50px;
  border-radius: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  border:0;
  box-shadow:0 0 24px 8px rgba(76,121,144, 0.25);
}
:focus {
  background-color: #1e3145;
  color:#9ec4d4;
  font-size: large;
  background: #244056;
  border-color: #244056;
  outline: 0;
  box-shadow: 0 0 100px 15000px rgba(76,121,144, 50);
}

INPUT[type="password"], textarea
{
  background-color: #1e3145;;
  color:#9ec4d4;
  padding: 12px;
  margin: 10px;
  width: 60%;
  height:50px;
  border-radius: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  border:0;
  box-shadow:0 0 15px 4px rgba(76,121,144, 0.25);
}
:focus {
  background-color: #1e3145;;
  color:#9ec4d4;
  border-color: #244056;
  font-size: large;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(76,121,144, 0.25);
}

.feed
{
  background-color:#34546b;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 35rem;
  height: 2500rem;
  width: 86.5rem;
  border-radius: 4px;
  box-shadow: 0 0 0 0.2rem rgba(76,121,144, 0.15);
}



.logwin
{
  border-radius: 12px;
  width: 50rem;
  height: 10em;
  margin: auto;
  margin-top: 40rem;
  margin-bottom: 40rem;
}


.logout_style{
  display: flex;
  justify-content: space-around;
  background-color:#263a56;
  border: none;
  color: #b5c8cc;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-top: 2px;
  margin-bottom: 8px;
  margin-right: 24rem;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(38, 58, 86,0.2), 0 6px 20px 0 rgba(38, 58, 86,0.19);
}

.btn_post{
  display: flex;
  justify-content: space-around;
  background-color:rgb(38, 58, 86);
  border: none;
  color: #b5c8cc;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-left: 20rem;
  margin-top: 2px;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(38, 58, 86,0.2), 0 6px 20px 0 rgba(38, 58, 86,0.19);
}

#bar{
  background-color: #3b5c7c;
  border-radius: 2px;
}

.feed_label{
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #9ec4d4;
}
.dialog{
  display: flex;
  justify-content: space-around;
  background-color:rgb(38, 58, 86);
  border: none;
  color: #b5c8cc;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;

  margin-top: 2px;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(38, 58, 86,0.2), 0 6px 20px 0 rgba(38, 58, 86,0.19);
}
.small{
  height: 650px;
  width: 650px;
}
.image{
  height: 650px;
  width: 650px;
}