.modal {
    position: relative;
    background-color: #b5c8cc;
    width: 800px;
    height: 500px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 24px;
    overflow: hidden;
    margin: 0 15px 160px;
    box-shadow:0 0 10000px 1000px rgba(23,37,50,0.75);
  }
  
  .modal .footer {
    width: 100%;
    height: 88px;
    background-color: rgb(243, 244, 246);
    position: absolute;
    bottom: 0;
    display: flex;
    
  }
  
  .modal-wrapper {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(107, 114, 128, 0.5);
    z-index: 9;
    height: 100%;
    width: 100%;
    min-height: 100vh;
  }
  
  .close_button{
    height: 40px;
    width: 100px;
    background-color: #3d7a8d;
    border: none;
    color: #b5c8cc;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 12px;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  #subscript
  {
    background-color:#244056;
    color:#9ec4d4;
    background: #244056;
    padding: 10px;
    margin-left: 40px;
    width:450px;
    height:50px;
    border-radius: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    border:0;
    box-shadow:0 0 15px 4px rgba(76,121,144,0.19);
  }

  #subscript:focus {
    background-color:#244056;
    color:#9ec4d4;
    background: #244056;
    border-color: #244056;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(76,121,144, 0.25);
  }

  #sign
  {
    background-color:#244056;
    background: #244056;
    color:#9ec4d4;
    padding: 10px;
    margin-left: 40px;
    width:450px;
    height:50px;
    border-radius: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    border:0;
    box-shadow: 0 0 0 0.2rem rgba(76,121,144, 0.25);
  }

  #sign:focus {
    background-color:#244056;
    color:#9ec4d4;
    background: #244056;
    border-color: #244056;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(76,121,144, 0.25);
  }


  #new_post{
    background-color: #3d7a8d;
    color: #b5c8cc;
    text-align: center;
    margin-left: 20px;
    margin-top: 4px;
    font-size: 2rem;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 40px;
    width: 160px;
  }

  .modal .body {
    padding: 20px;
  }