<html>

<head>
    <title>Anime Boys Forum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

      <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />

    <style>
        .vertical-center {
           margin: 10px;
        }
        .center-v {
          display: flex;
          align-items: center;
        }
        .btn {
            padding: .375rem -75rem;
        }
    </style>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <div class="container">
        <div class="row vertical-center ">
            <div class="col-9">
                <h1><a href="https://shikimori.one/animes/z31240-re-zero-kara-hajimeru-isekai-seikatsu"><img src="https://i.pinimg.com/736x/6a/d3/84/6ad38464949bf98045ece55af6cd146f.jpg"  alt="Anime Boys Forum Logo" width="132" height="174" class="img-fluid"></a>
                Anime Boys Forum
                </h1>
            </div>

            <div class="col-3 text-right">
                <a href="user">{{username}}</a>
                <a class="btn btn-danger mr-n2 vertical-center" href="logout">Выход</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                  <button class="btn" style="background-color: #964B00; color: white;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGroupAdd" aria-expanded="false" aria-controls="collapseExample">
                                    Добавить группу
                                  </button>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://shikimori.one/animes/35507-youkoso-jitsuryoku-shijou-shugi-no-kyoushitsu-e">Япония и японский язык</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://shikimori.one/animes/1292-afro-samurai">Книги, музыка и фильмы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://shikimori.one/animes/z19815-no-game-no-life">Игры</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>




        <div class="row mt-4" >
            <div class="col-md-12" style="margin: auto;">
                <div class="collapse card shadow-sm p-3 mb-4" id="collapseGroupAdd" style="border-color: #964B00;">
                     <form action="/" method="post" id="create-group">
                         <div class="mb-3">
                           <label for="group-name" class="form-label">Имя группы</label>
                           <input type="text" class="form-control" id="group-name" maxlength="60" name="groupName" required >
                        </div>
                        <div class="mb-3">
                           <label for="group-description" class="form-label">Описание группы</label>
                           <textarea class="form-control" id="group-description" name="groupDescription" maxlength="80" required rows="2"></textarea>
                        </div>
                         <div class="checkbox mb-3">
                             <input type="checkbox" name="isPublic"> Публичная группа
                         </div>
                         <div class="d-grid gap-2">
                            <button type="submit" class="btn" style="background-color: #964B00; color: white;">Создать группу</button>
                        </div>
                     </form>
                  </div>


                <!--рендер групп-->
                {% if groups %}
                    {% for group in groups %}
                    <div class="list-group mb-4">
                        <div  class="list-group-item list-group-item-action">
                            <form>
                                        <div class="d-flex w-100 justify-content-between">
                                            <!-- Название раздела -->
                                            <a style="text-decoration:none;color:000000;font-weight:700;" href="/group/{{group.group_id}}" id="grouptag" class="mb-1">{{group.name}}</a>
                                            <!-- Количество тем и сообщений в разделе -->
                                            <small>Тем: {{group.number_of_threads}} | Сообщений: {{group.number_of_comments}}
                                            {% if group.ispublic %} <span class="badge badge-pill badge-info ml-2">Public {% else %} <span style="background-color: #d9af1a;" class="badge badge-pill badge-info ml-2">Private {% endif %}</span></small>
                                        </div>
                                    <div>
                                        <p class="mb-1">{{group.description}}</p>
                                    </div>
                                        <small>Группа создана пользователем: <a href="/user/{{group.creator}}"> {{group.creator_name}} </a>
                                            {% if group.group_id in groupuser %}
                                            <button class="btn btn-sm btn-danger float-right" type = "submit" formmethod="post" formaction="/group/quit/{{group.group_id}}" name="quitGroup" value="{{group.group_id}}">Покинуть группу</button>
                                            {% else %}
                                            <button class="btn btn-sm btn-success float-right" type = "submit" formmethod="post" formaction="/group/add/{{group.group_id}}" name="enterGroup" value="{{group.group_id}}">Вступить в группу</button>
                                            {% endif %}
                                        </small>

                            </form>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <h1>Будьте пeрвым, кто создаст группу на форуме!</h1>
                {% endif %}

            </div>
        </div>
    </div>
</body>

</html>