<html>
   <head>
      <title>Профиль</title>
       <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </symbol>
          <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </symbol>
          <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </symbol>
        </svg>
      <style>
         .personal-area{
         background-repeat: no-repeat;
         display: flex;
         justify-content: center;
         background-size: cover;
         margin-top:50px;
         }
         .ava{
         background-repeat: no-repeat;
         justify-content: center;
         background-size: cover;
         display: flex;
         }
         .vertical-center {
         margin: 10px;
         }
         #bio {
           /* Set a fixed height for the paragraph */
           height: 100px;

           /* Allow overflow content to be scrolled */
           overflow-y: scroll;
         }
      </style>
           <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   </head>
   <body>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <div class="container mt-2">
         <div class="row vertical-center ">
            <div class="col-10">
               <h1><a href="https://shikimori.one/animes/z31240-re-zero-kara-hajimeru-isekai-seikatsu"><img src="data:image/png;base64,{{ byte_arr | safe}}"  width="130" height="130"></a>
                  Имя и статус: {{username}} - {{isVipProfile}}
               </h1>
            </div>
            <!-- Login and register buttons -->
            <div class="col-2 text-center">
               <a href="/"></a>
               <a class="btn btn-danger mr-n2 vertical-center" href="logout">Выход</a>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-12">

               <nav class="navbar navbar-expand-lg navbar-light bg-light">

                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                           <a class="btn  vertical-center" style="background-color: #964B00; color: white;" href="/">Назад на форум</a>
                        </li>
                        <!-- Add more categories as needed -->
                     </ul>
                  </div>

               </nav>

            </div>
         </div>
      </div>
      <div class="container personal-area">

         <script>
            function editProfile() {
              var profileCard = document.getElementById("profile-card");
              var editForm = document.getElementById("edit-form");

              if (editForm.style.display === "none") {
                profileCard.style.display = "none";
                editForm.style.display = "block";
              } else {
                profileCard.style.display = "block";
                editForm.style.display = "none";
              }
            }

         </script>

<div id="profile-card" class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card p-3" style="border-color: #964B00;">
        <div class="mb-3">
          <label for="bio" class="form-label">Информация о пользователе</label>
          <p id="bio" name="bio" class="form-control" rows="4">{% if user.publicinfo %}{{user.publicinfo}}{% else %} Информация отсутствует. {% endif %}</p>
        </div>
        <div class="mb-3">
          <label for="sensitive-data" class="form-label">Секретная информация (доступна только вам)</label>
          <p id="sensitive-data" name="sensitive-data" class="form-control">{% if user.privateinfo %}{{user.privateinfo}}{% else %} Информация отсутствует. {% endif %}</p>
        </div>
         <button id="edit-profile" class="btn" style="background-color: #964B00; color: white;" onclick="editProfile()">Изменить данные</button>
      </div>
    </div>
  </div>
</div>


<div class="row" id="edit-form" style="display:none;">
   <div class="container">
      <div class="card shadow-sm p-3 mb-4" style="border-color: #964B00;">
         <form action="/user" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
               <label for="avatar" class="form-label">Аватарка</label>
               <input type="file" class="form-control" id="avatar" name="inputAvatar">

                <div class="alert alert-warning d-flex align-items-center mt-3 visually-hidden" id="alertForSize" style="display: block;">
                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                  <div>
                    Размер картинки не должен превышать 5 мегабайт!
                  </div>
                </div>

            </div>
            <div class="mb-3">
               <label for="bio" class="form-label">Информация о пользователе</label>
               <textarea class="form-control" id="bio" name="inputBio" rows="4">{% if user.publicinfo %}{{user.publicinfo}}{% else %}{% endif %}</textarea>
            </div>
            <div class="mb-3">
               <label for="private" class="form-label">Секретная информация (доступна только вам)</label>
               <input type="text" class="form-control" id="private" name="inputPrivatbio" value="{% if user.privateinfo %}{{user.privateinfo}}{% else %}{% endif %}" >
            </div>
             <div class="d-grid gap-2">
                <button type="submit" class="btn" style="background-color: #964B00; color: white;">Сохранить изменения</button>
             </div>
         </form>
          <button id="edit-profile" class="btn btn-outline-danger" onclick="editProfile()">Отмена</button>
      </div>
   </div>
</div>



      </div>
      <script>
                let form = document.querySelector('form');
                function updateSize() {
                  var file = document.getElementById("avatar").files[0];
                  if (file.size>5000000)
                  {
                    document.getElementById("alertForSize").classList.remove('visually-hidden');
                    form.addEventListener('submit', function(event) {
                        event.preventDefault();
                    });
                  }
                  else
                  {
                    document.getElementById("alertForSize").classList.add('visually-hidden');
                    form.addEventListener('submit', function(event) {
                        form.submit();
                    });
                  }
                }
                document.getElementById('avatar').addEventListener('change',updateSize);
    </script>
   </body>
</html>